{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="icon" type="image/x-icon" href="{%static 'assets/favicon-icon.png'%}">
  <style>
    body::before {
      content: "";
      position: absolute;
      inset: 0;
      background: url("{% static 'assets/background.png'%}") center/cover no-repeat;
      filter: blur(5px);
      z-index: -1;
      opacity: 0.85;
    }
  </style>
</head>

<body>
  <div class="login-wrapper">
    <div class="container">
      <div class="image-section">
        <img src="{%static 'assets/login-image.png'%}" alt="Gym Login Visual" />
      </div>
      <div class="form-section">
        <form method="POST" autocomplete="off" class="login-form">
          {% csrf_token %}
          <h2>Login Account</h2>

          <label for="username">Enter username</label>
          <input type="text" id="username" name="username" required />

          <label for="password">Enter password</label>
          <input type="password" id="password" name="password" required />

          <button type="submit">Login</button>

          <p>Don't have an account? <a href="{% url 'register' %}">Sign In</a></p>
        </form>
      </div>
    </div>
  </div>
</body>

</html>